@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./media/background0.webp");
  background-position: center;
  background-repeat: no-repeat;
  /* z-index: 1; */
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-top: 20vh;
  /* max-width: 45vh; */
  margin: 15vh auto;
}

.speech-box {
  width: 50%;
  border: 2px solid #262222;
  box-shadow: 2px 2px 25px 10px rgb(192, 191, 191);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem 0;
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  transition: all 0.6s;
}
.speech-box:hover {
  border: 2px solid #fff;
  box-shadow: 0px 0px 25px 10px black;
}
.speech-heading {
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: underline;
}

.speech-body {
  width: 100%;
  font-size: 1.2rem;
}

.speech-body > p {
  margin-bottom: 0.5rem;
}

#text {
  width: 100%;
  border: none;
  outline: none;
  border: 2px solid rgb(149, 55, 236);
  padding: 0.5rem;
  font-size: 1rem;
}

#btn {
  width: 100%;
  border: 1px solid rgb(149, 55, 236);
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background: transparent;
  /* background-color: rgb(149, 55, 236); */
  color: rgb(149, 55, 236);
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.5s;
}

#btn:hover {
  color: #fff;
  background-color: rgb(81, 57, 103);
  border: 1px solid rgb(149, 55, 236);
  box-shadow: 0px 0px 10px 5px rgb(149, 55, 236);
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .speech-box {
    width: 60%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .speech-box {
    width: 80%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 5rem 3rem;
  }

  .speech-box {
    width: 100%;
    gap: 1.5rem 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 5rem 1rem;
  }

  .speech-box {
    width: 100%;
    gap: 1rem 0;
    padding: 1rem;
  }

  .speech-heading > h2 {
    font-size: 1.4rem;
  }

  .speech-body > p {
    font-size: 1rem;
  }

  #text {
    font-size: 0.9rem;
  }
}

@media (min-width: 0px) and (max-width: 400px) {
  .container {
    padding: 5rem 0.5rem;
  }

  .speech-box {
    max-width: 50vh;
    width: 100%;
    gap: 1rem 0;
    padding: 1rem;
  }

  .speech-heading > h2 {
    font-size: 1.2rem;
  }

  .speech-body > p {
    font-size: 0.9rem;
  }

  #text {
    font-size: 0.9rem;
  }

  #btn {
    font-size: 0.9rem;
  }
}
